.text-decoration{
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 25px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
}

.title {
    color: #ffffff; 
    font-family: 'Raleway',sans-serif; 
    font-size: 62px; 
    font-weight: 800; 
    line-height: 72px; 
    margin: 0 0 24px; 
    text-align: center; 
    text-transform: uppercase;
}

.lorem {
    color: #f8f8f8; 
    font-family: 'Raleway',sans-serif; 
    font-size: 18px; 
    font-weight: 500; 
    line-height: 32px; 
    margin: 0 0 24px; 
}

.margin {
    margin-left: 50px;
}

.custom-card {
    border-radius: 1rem !important;
}

img {
    max-width: 100%;
    border-radius: 1rem;
  }
